.poly-container {
  width: 100%;
  max-width: 1000px; 
  font-size: 10px; 
}
.poly {
  width: 7.9em;
  height: 7.9em; 
}
.raised {
  position: relative;
  top: -.75em;
  font-size: 4em;
}
.blob {
  width: 150px;
  max-width: 16%;
  height: 150px; 
  max-height: 16vw;
}
.binaryClock {
  width: 100%;
  height: 3.22vw; 
}
.solar {
  width: 53%;
  max-width: 500px;
  height: 53vw;
  max-height: 500px; 
}
.lunar {
  width: 42%;
  max-width: 400px;
  height: 53vw;
  max-height: 500px;
}
.zodiac text {
  font-size: 2em;
  text-anchor: middle;
  dominant-baseline: middle;
  fill: currentColor;
}
input[type="datetime-local"] {
  cursor: text;
}
