.poly {
  width: 100px;
  max-width: 7%;
  height: 100px; 
  max-height: 7vw;
}
.raised {
  position: relative;
  top: -2.5vw;
  font-size: 3vw;
}
.blob {
  width: 150px;
  max-width: 13%;
  height: 150px; 
  max-height: 13vw;
}
.binaryClock {
  width: 100%;
  height: 3.22vw; 
}
.solar {
  width: 53%;
  max-width: 500px;
  height: 53vw;
  max-height: 500px; 
}
.lunar {
  width: 42%;
  max-width: 400px;
  height: 53vw;
  max-height: 500px;
}
.zodiac text {
  font-size: 2em;
  text-anchor: middle;
  dominant-baseline: middle;
  fill: currentColor;
}
input[type="datetime-local"] {
  cursor: text;
}
