#name {
  color: black;
  background-color: white;
} 
.message { 
  border-top: 1px solid #ccc; 
  padding: 10px 0; 
} 
.mac-box { 
  width: 500px;
  max-width: 100%; 
  aspect-ratio: 3072 / 2626;
}
.message-area { 
  width: 100%; 
  height: 100px; 
}
.down .mac-box {
  filter: grayscale(100%);
}
.down form {
  opacity: 0.5;
  pointer-events: none;
} 
.down #status {
  color: red;
}
.down input,
.down textarea {
  background: #e0e0e0;
}
