.ball-box {
  width: 100%;
  height: 400px;
  touch-action: manipulation; /* Prevents double-tap zoom */
  cursor: pointer;
}
.portrait-box {
  width: 240px;
  height: 427px;
}
.portrait-box img {
  width: 100%;
  height: 100%;
}
