body {
  font-family: Verdana;
  background-color: white;
  color: black;
}
.halloween{
  font-family: 'Creepster', cursive;
}
.valentines {
  font-family: cursive;
}
h1, h2, h3 {
  margin-bottom: 0.2em;
}
ul {
  margin-top: 0.2em;
  margin-bottom: 0;
}
.box {
  border: 1px solid;
  margin-bottom: 1em;
  display: block;
}
.portrait-box {
  width: 240px;
  height: 300px;
}
.portrait-box img {
  width: 100%;
  height: 100%;
}
.ball-box {
  width: 100%;
  height: 400px;
  touch-action: manipulation; /* Prevents double-tap zoom */
}
.license {
  height: 1em;
}
.poly-container {
  width: min(100%, 1000px);
  font-size: min(1vw, 10px);
}
.poly {
  width: 7.9em;
}
.raised {
  position: relative;
  top: -.75em;
  font-size: 4em;
}
.blob {
  width: 150px;
  max-width: 13%;
}
.banner {
  width: 100%; 
  height: 150px; 
  display: block; 
  overflow: hidden;
}
.binaryClock {
  width: 100%;
  height: auto;
}
.solar {
  width: min(500px, 53%);
}
.lunar {
  width: min(400px, 42%);
}
.zodiac text {
  font-size: 2em;
  font-weight: 300;
  stroke-width: 1;
  text-anchor: middle;
  dominant-baseline: middle;
  fill: currentColor;
}
.license {
  height: 1em;
}
.foot {
 display: flex; 
 justify-content: space-between; 
 align-items: center;
}
body.dark {
  background-color: black;
  color: white;
}
body.dark a { 
  color: #90e8df; 
}
body.dark a:visited{ 
  color: #aed5fc; 
}
body.dark button, 
body.dark input {
  background-color: #333;
  color: currentColor;
  border: 1px solid currentColor;
}
body.dark .zodiac text {
  stroke: black; 
}
.theme-toggle {/*hide the buttons if no javascript*/
  display: none;
}
