.container {
  text-align: center;
}
h1 {
  margin-top: 0px;   
  margin-bottom: 0px;
}
#chessboard {
  display: block;
  width: 100%;
}
#black-clock, #white-clock {
  font-weight: bold;
}
#log {
  font-family: monospace;
}
#buttons{
    min-height: 4em;
}
footer {
    text-align: center;
    margin-top: 40px;
    font-size: .7em;
    color: #666;
}
input[type="number"] {
  width: 3ch;
  font-size: 16px;
  text-align: center;
  padding: 2px;
  margin: 0;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
